{% load static %}

<div class="iq-sidebar  sidebar-default  ">
<div class="iq-sidebar-logo d-flex align-items-end justify-content-between">
   <a href="{% url 'home' %}" class="header-logo">
      <img src="{% static 'dashboard/assets/images/logo.png' %}" class="img-fluid rounded-normal light-logo" alt="logo">
      <img src="{% static 'dashboard/assets/images/logo-dark.png' %}" class="img-fluid rounded-normal d-none sidebar-light-img" alt="logo">
      <span>KaramUz</span>
  </a>
  <div class="side-menu-bt-sidebar-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-light wrapper-menu" width="30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
      </div>
</div>
<div class="data-scrollbar" data-scroll="1">
  <nav class="iq-sidebar-menu">
      <ul id="iq-sidebar-toggle" class="side-menu">
          <li class=" sidebar-layout">
              <a href="{% url 'dashboard-home' %}" class="svg-icon">
                  <i class="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                      </svg>
                  </i>
                  <span class="ml-2">Dashboard</span>
                  <p class="mb-0 w-10 badge badge-pill badge-primary">6</p>
              </a>
          </li>

          <li class="px-3 pt-3 pb-2">
              <span class="text-uppercase small font-weight-bold">Asosiy App</span>
          </li>

          <li class=" sidebar-layout">
              <a href="{% url 'ctg_list' %}" class="svg-icon">
                  <i class="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5" />
                      </svg>
                  </i>
                  <span class="ml-2">Category</span>
              </a>
          </li>
          <li class=" sidebar-layout">
              <a href="{% url 'news-list' %}" class="svg-icon">
                  <i class="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5" />
                      </svg>
                  </i>
                  <span class="ml-2">Yangiliklar</span>
              </a>
          </li>
          <li class=" sidebar-layout">
              <a href="" class="svg-icon">
                  <i class="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5" />
                      </svg>
                  </i>
                  <span class="ml-2">Contact</span>
              </a>
          </li>

          <li class="px-3 pt-3 pb-2">
              <span class="text-uppercase small font-weight-bold">Userlar</span>
          </li>

          <li class="sidebar-layout">
              <a href="#app3" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                  <i>
                      <svg class="svg-icon" id="iq-form-1" width="18" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" style="stroke-dasharray: 74, 94; stroke-dashoffset: 0;"></path>
                      </svg>
                  </i>
                  <span class="ml-2">Users</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon iq-arrow-right arrow-active" width="15" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                  </svg>
              </a>
              <ul id="app3" class="submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li class="sidebar-layout">
                      <a href="#form1" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                          <i class="">
                              <svg class="svg-icon" width="18" id="iq-form-1-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z" style="stroke-dasharray: 61, 81; stroke-dashoffset: 0;"></path>
                              </svg>
                          </i>
                          <span class="">Adminlar</span>

                      </a>
                  </li>
                  <li class="sidebar-layout">
                      <a href="#form1" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                          <i class="">
                              <svg class="svg-icon" width="18" id="iq-form-1-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z" style="stroke-dasharray: 61, 81; stroke-dashoffset: 0;"></path>
                              </svg>
                          </i>
                          <span class="">Foydalanuvchilar</span>

                      </a>
                  </li>

                  <li class="sidebar-layout">
                      <a href="#form1" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                          <i class="">
                              <svg class="svg-icon" width="18" id="iq-form-1-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z" style="stroke-dasharray: 61, 81; stroke-dashoffset: 0;"></path>
                              </svg>
                          </i>
                          <span class="">Obunalar</span>

                      </a>
                  </li>

              </ul>
          </li>


          <li class="px-3 pt-3 pb-2">
              <span class="text-uppercase small font-weight-bold">User Actions</span>
          </li>
           <li class=" sidebar-layout">
              <a href="" class="svg-icon">
                  <i class="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                                  </svg>
                  </i>
                  <span class="ml-2">Profile</span>
              </a>
          </li>
           <li class=" sidebar-layout">
              <button  class="svg-icon btn" style="color: #8E9EBB;"
                       data-toggle="modal" data-target="#LogoutModal">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <span class="ml-2" >Logout</span>
              </button>
          </li>



      </ul>
  </nav>
  <div class="pt-5 pb-5"></div>
</div>
</div>