{% load static %}

<div class="topheader">
		<div class="container">
			<ul class="menu">
				<li><a href="{% url 'home' %}">Bosh Sahifa</a></li>
				<li><a href="#">Siyosat</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
			</ul>
			<ul class="kurs">
				{% for i in valyutalar %}
					{% if i.Ccy == 'RUB' or i.Ccy == "USD" or i.Ccy == "EUR" %}
						<li>1 {{ i.Ccy }} = {{ i.Rate }}</li>
					{% endif %}
				{% endfor %}



			</ul>
			<ul class="lang">
				{% if request.user.is_anonymous %}
					<li><a href="{% url 'regis' %}"><i class="fa fa-arrow-right"></i> Register</a></li>
				{% else %}
					<li><a href="{% url 'dashboard-home' %}"><i class="fa fa-home"></i> Dashboard</a></li>
					<li><button style="border: none; background-color: #000; " id="openModalBtn"><i class="fa fa-arrow-left"></i> Logout</button></li>
				{% endif %}

			</ul>
			<ul class="social">
				<li><a href="https://www.instagram.com/intellegent_0928/"><span class="fa fa-instagram"></span></a></li>
				<li><a href="#"><span class="fa fa-twitter"></span></a></li>
				<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
				<li><a href="https://t.me/xudikk"><span class="fa fa-telegram"></span></a></li>
				<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
				<li><a href="#"><span class="fa fa-rss"></span></a></li>
			</ul>
		</div>
	</div>
	<nav class="navbar">
  	<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="{% static 'site/img/logo.png' %}" alt=""></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<i class="fa fa-close"></i>
				</button>
				<ul class="nav navbar-nav">
					{% for i in menu_ctgs %}
					<li><a href="{% url 'category' slug=i.slug %}">{{ i.name }}</a></li>
					{% endfor %}

				</ul>
				<button type="button" class="btn navbar-right search_btn hidden-xs"><i class="fa fa-search"></i></button>
		<form action="{% url 'search' %}" method="get" id="search" class="navbar-form navbar-right search_btn_box hidden-xs">
			<button class="btn btn-default" type="button">
			  <span><i class="fa fa-search"></i></span></button>
				<div class="input-group">
			  <input type="text" name="search" id="searchName" class="form-control" placeholder="Qidiruv..." required="">
			  <input type="submit" hidden="">
			</div>
        	<button type="button" class="btn  search_btn_close hidden-xs active"><i class="fa fa-close"></i></button>
      </form>
			</div>
		</div>
	</nav>